body {
    background-image: url("../img/email-pattern.png");
    background-color: white;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
}

/* 
#phase-1 {
    position: relative;
    margin: 10px auto;

} */


/* phase 2 */
#phase-2 {
    margin: 10px auto;
}

#phase-2 h1 {
    font-size: 60px;
}

#phase-2 button {
    font-size: 30px;
    border-radius: 14px;
    margin: 10px;
}


.nama-user {
    color: red;
    font-weight: bold;
    font-style: oblique;
}

/* phase 3 ora */
#phase-3 {
    margin: 10px auto;
}

#phase-3 h1 {
    font-size: 60px;
}




/* hide */
.hide {
    display: none;
}